#myCanvas {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.textBox {
  border: none;
  background: transparent;
  border: none;
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

#canvas {
	padding-top: 20;
	padding-bottom: 20;
}

.shape {
	margin-left: auto;
	margin-right: auto;
}

#drawings {
	padding-bottom: 10;
	padding-top: 10;
}
