#myCanvas {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.textBox {
  border: none;
  background: transparent;
  border: none;
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
